head
	meta(charset="UTF-8")
	link(rel="stylesheet" href="css/main.css")
		
body

	.l

		.l-header
			include ../includes/header

		.l-content
			block content
				
		.l-footer
			include ../includes/footer
